@mixin button-style($background, $color)
    background: $background
    color: $color
    &:hover
        background: grayscale($background)
        border-radius: 15px

.btn
    width:200px
    padding: 10px 0
    background: none
    border: 0
    display: block
    margin: 10px

    &.btn-laranja
        @include button-style($color-orange, #FFF)

    &.btn-roxo
        @include button-style($color-purple, #FFF)

    &.btn-amarelo
        @include button-style($color-yellow, #000)



    